<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Home/Design/home.css">
    <title><%-title%></title>
</head>
<body>
    <%-include('./layouts/home/header.ejs') %>

    <div id="MainBody">
        <%-include('./layouts/home/dashboard.ejs')%>
    </div>
    

    <script src="/Home/Scripts/accounts.js"></script>
</body>
</html>