<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Home/Design/home.css">
    <title><%-title%></title>
</head>
<body>
    <header id="MainHead">
        <div class="profile_container">
            <div id="" class="profile">

            </div>

        </div>
        <div id-="welcome" class="wlcomeMsg">
            <h1 class="msg">
                Good
                <div id="time">
                </div>
                <%-user%>
            </h1>
        </div>
    </header>
    

    <script src="/Home/Scripts/accounts.js"></script>
</body>
</html>