<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="/Home/Design/home.css">
    <link rel="stylesheet" href="/Home/Design/news.css">
    <link rel="stylesheet" href="/Home/Design/profile.css">
    <title><%-title%></title>
</head>
<body>
    <%-include('./layouts/home/header.ejs') %>

    <div id="MainBody">
        <%-include('./layouts/home/dashboard.ejs')%>
    </div>
    
    
    <script src="/Home/Scripts/profile.js"></script>
    <script src="/Home/Scripts/transactions.js"></script>
    <script src="/Home/Scripts/accounts.js"></script>
    <script src="/Home/Scripts/news.js"></script>
</body>
</html>