body{
    background-color: black;
    margin: 0px;
}

@font-face {
    font-family: Morai;
    src: url(/Home/Lib/Font/MoiraiOne-Regular.ttf);
}

/*Header*/

#MainHead {
    width: 100%;
    display: flex;
    position: absolute;
    height: 100px;
    background-image: url(/Home/Lib/Images/blue_night.jpg);
    background-position: 100px;
     z-index: 1;
}

.profile_container{
    width: 50%;
}

.wlcomeMsg{
    width: 50%;
    font-family: Morai;
    align-self: center;
}

.msg{
    margin: 0px 5px;
    display: flex;
    gap: 5px;
    color: white;
    float: right;
}

/*Profile*/

.profile{
    height: 750px;
    width: 250px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 30px 15px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

/*Main Content*/

#MainBody {
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.edge{
    width: 21.7%;
    height: max-content;
}

#content-container{

    background-color: black;
    height: 900px;
    width: 1007px;
    display: flex;
    position: relative;
    
}

/* Main content display*/

#Cars-and-News { 
    width: 70%;
}
#accounts{
     width: 30%;
}

#acc-container{
     margin: 3% 2%;
}


.accs{
    color: white;
    padding: 5px;
    margin: 10px 0px;
    /* border: 1px solid white; */
    border-radius: .5%;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image: url(/Home/Lib/Images/night-sky.jpg);
}


.AccountID{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 15px;
    font-family: Morai;
}

.Accountbal{
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 1px;
    font-size: 20px;
    text-align: end;
    font-weight: bolder;
}

.accs p{
    text-decoration: none;
}

/* .AccountID:hover , .Accountbal:hover{
    color: aqua;
} */

.accs:hover {
    color: aqua;
}

/*Transfers layout*/

#Quick-Transfers { 
    color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin: 0px 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/Home/Lib/Images/blue_night.jpg);
    /* background-color: #221d17; */
    box-shadow: inset 0px 0px 1px 1px #221d17;
}

#Quick-Transfers h2{
    margin: 0;
    font-weight: bolder;
    font-size: 24px;
    padding-bottom: 10px;
    padding: 0 5%;
    font-family: Morai;
    background-color: transparent;
    align-self: center;
}


#transfer {
    border-top: 1px solid white;
    padding-top: 5px;
}

#Trans-Message {
    display: none;
    width: 100%;
    align-self: center;
    flex-direction:column;
    align-items: center;
}

.form_trans{
    display:flex;
    flex-direction: row;
    margin: 2%;
    gap: 2%;
}

.form_trans :first-child {
    width: 20%;
    align-self: center;
    align-items: center;
    font-size: 14px;
}

.form_trans :last-child {
    width: 80%;
    height: 35px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.form_trans input:focus {
    outline: none;
}

#sub-accs {
    height: 40px;
    width: 100%;
    align-items: center;
    display: flex;
}

#submit{
    justify-content: center;
    height: 35px;
    width: 100%;
    border-radius: 2%;
    border: 1px solid white;
    margin: 0px 20%;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: white;
    background-color: black ;
}

#submit:hover{
    background-image: url(/Home/Lib/Images/blue_night.jpg);
    background-position: 100%;
}

/* Transactions */

.trans_list_header{
    color: white;
    margin: 10px 0px 0px 0px;
    text-align: center;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    background-image: url(/Home/Lib/Images/night-sky.jpg);
    border-radius: 2%;
    margin: 10px 2% 0px;
    box-shadow: inset 0px 0px 1px 1px #221d17;
}

.trans_Container{
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-image: url(/Home/Lib/Images/night-sky.jpg);
    background-position: left;
    gap: 5px;
    font-size: 14px;
    padding: 5px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.trans_Container:hover {
    color: aqua;
}


/* Cars and news design */

.top_container{
    height: 50%;
}

.news{
    height: 75%;
}



