body{
    background-color: black;
    margin: 0px;
}

@font-face {
    font-family: Morai;
    src: url(/Home/Lib/Font/MoiraiOne-Regular.ttf);
}

/*Header*/

#MainHead {
    width: 100%;
    display: flex;
    position: fixed;
    height: 100px;
    background-image: url(/Home/Lib/Images/blue_night.jpg);
    background-position: 100px;
     z-index: 1;
}

.profile_container{
    width: 50%;
}

.wlcomeMsg{
    width: 50%;
    font-family: Morai;
    align-self: center;
}

.msg{
    margin: 0px 5px;
    display: flex;
    gap: 5px;
    color: white;
    float: right;
}

/*Profile*/

.profile{
    height: 750px;
    width: 250px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 30px 15px 0px;
}

/*Main Content*/

#MainBody {
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.edge{
    width: 21.7%;
    height: max-content;
}

#content-container{

    background-color: black;
    height: 900px;
    width: 1007px;
    display: flex;
}

/* Main content display*/

#Cars-and-News { 
    width: 70%;
}
#accounts{
     width: 30%;
}

#acc-container{
     height: 60%;
     margin: 3% 5%;
}


.accs{
    color: white;
    padding: 5px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 2.5%;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image: url(/Home/Lib/Images/night-sky.jpg);
}


.AccountID{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 20px;
    font-family: Morai;
}

.Accountbal{
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 1px;
}

.accs p{
    text-decoration: none;
}

p:hover{
    color: aqua;
}

/*Transfers layout*/

#Quick-Transfers { 
    color: white;
    border: 1px solid white;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin: 0px 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/Home/Lib/Images/blue_night.jpg);
}

#Quick-Transfers h2{
    margin: 0;
    font-weight: bolder;
    font-size: 24px;
    padding-bottom: 10px;
    padding: 0 5%;
    font-family: Morai;
    background-color: transparent;
    align-self: center;
}


#transfer {
    border-top: 1px solid white;
    padding-top: 5px;
}

.form_trans{
    display:flex;
    flex-direction: row;
    margin: 2%;
    gap: 2%;
}

.form_trans :first-child {
    width: 20%;
    align-self: center;
    align-items: center;
    font-size: 14px;
}

.form_trans :last-child {
    width: 75%;
    height: 35px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.form_trans input:focus {
    outline: none;
}

#sub-accs {
    height: 40px;
    width: 100%;
    align-items: center;
    display: flex;
}

#submit{
    justify-content: center;
    height: 35px;
    width: 100%;
    border-radius: 2%;
    border: 1px solid white;
    margin: 0px 20%;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: white;
    background-color: black ;
}

#submit:hover{
    background-color: lightblue;
}

/* Cars and news design */

.top_container{
    height: 50%;
}

.news{
    height: 65%;
}

