#news{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 2.5%
}

/* Search bar */

#searh_stats{
    width: 100%;
    gap: 1%;
    height: fit-content;
    
}

.search_bar { 
    flex-direction: row;
    width: 50%;
    height: 10%;
}

.mainSearchForm{
    border: 1px solid #221d17;
    border-radius: 2%;
    align-self: baseline;
    height: 40px;
    width: -webkit-fill-available;
    display: inline-flex;
}

#searchBox { 
    width: 80%;
    height: 100%;
    padding: 0px;
    background: none;
    border: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin: 0px 2% 0px 1%;
}

#searchBox:focus { 
    outline: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 2000,
  'GRAD' 1,
  'opsz' 24;
}

.Search_submit {
    height: 100%;
    background: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border: none;
    width: 15%;
    font-size: 10px;
}


/* Buttons */

.btn_Wrapper{
    width: 50%;
    margin-left: 5%;
    align-items: end;
    display: flex;
    height: 40px;
}

.create_buttons {
    width: 50%;
    height: 100%;
    margin: 0px 2%;
    border: 1px solid #221d17;
    border-radius: 2.5%;
    background-color: transparent;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
}

.create_buttons:hover {
    background-image: url(/Home/Lib/Images/blue_night.jpg);
    background-position: 100%;
}

.Bttn_Options{
    display: flex;
    height: 40px;
}

.make_buttons {
    width: 50%;
    height: 100%;
    margin: 0px 2%;
    border: 1px solid #221d17;
    border-radius: 2.5%;
    background-color: transparent;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 14px;
}

.make_buttons:hover {
    background-image: url(/Home/Lib/Images/blue_night.jpg);
    background-position: 100%;
}

/* Car container */

.Car_container {

    width: 100%;
    height: 75%;
    border: 1px solid #221d17;
    position: relative;
}

.vehicle_wrapper{
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
}

.classic_design{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.classic_design h2{
    font-size: 28px;
    font-weight: bolder;
    margin: 5px 0px 0px;
}

.classic_design h3{
    font-size: 20px;
    font-weight: bolder;
    margin: 5px 0px 0px;
}

.classic_design h4{
    font-size: 16px;
    font-weight: bolder;
    margin: 10px 0px 0px;
}
.classic_design p{
    font-size: 12px;
    margin: 10px 0px 0px;
}

.Vehicle_photo{
    height: 95%;
    width: 50%;
    border: 1px solid #221d17;
    border-radius: 2.5%;
    margin: .5%;
}

/* Slides show */

.dots {
    text-align: center;
    padding: 5px 10px;
    position: relative;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.0s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* .slides{
    display: none;
} */