<div class="edge"></div>
<div id="content-container">
    <div id="Cars-and-News">

    </div>
    <div id="accounts">
        <div id="acc-container">

        </div>

        <div id="Quick-Transfers">
                
            <h2>Quick Transfer</h2>
       
                <form id="transfer" class="acc_transfer">

                    <div class="form_trans">
                        <label for="Debit_Account">From</label>
                        <input type="text" name="Debit_Account" id="dr">
                    </div class>
                    <div class="form_trans">
                        <label for="Credit_Account">to</label>
                        <input type="text" name="Credit_Account" id="cr">
                    </div>
                    <div class="form_trans">
                        <label for="amount">Amount</label>
                        <input type="amount" name="amount" id="amt">
                    </div>
                    <div id="sub-accs">
                        <input type="submit" class="Submit" id="submit">
                    </div>
                </form>
        </div>
    </div>
</div>