<div class="edge"></div>
<div id="content-container">
    <div id="Cars-and-News">
        <%-include('../partials/Dashboard/CarsAndNews.ejs') %>
    </div>
    <div id="accounts">
        <div id="acc-container">
            
        </div>

        <div id="Quick-Transfers">
                
            <h2>Quick Transfers</h2>
                <form id="transfer" class="acc_transfer">

                    <div id="Trans-Message"> </div>

                    <div class="form_trans">
                        <label for="dr">From</label>
                        <select name="Dr_Acc" id="dr"></select>
                    </div class>

                    <div class="form_trans">
                        <label for="cr">to</label>
                        <select name="Cr_Acc" id="cr">
                        </select>
                    </div>
                    <div class="form_trans">
                        <label for="amt">Amount</label>
                        <input type="text" name="amount" pattern="\d*(\.\d{0,2})?$" title="Must contain only numeric characters" id="amt">
                    </div>
                    <div id="sub-accs">
                        <input type="submit" class="Submit" id="submit">
                    </div>
                </form>
        </div>

        <div id="Transactions">
            <h3 class="trans_list_header">Last 5 transactions</h3>
            
        </div>
    </div>
</div>